.container{
    display: flex;
    justify-content: space-between;
    margin: auto;
    margin-top: 4rem;
    background-color:white;
    border-radius: 0.5rem;
    cursor: pointer;
}
.name{
    align-self: center;
    margin-left: 3rem;
}
.img{
    height: 10rem;
    border-radius: 0 0.5rem 0.5rem 0;
}