.container{
    background-color: white;
    display: flex;
    flex-direction: column;
}
.section{
background-color: lightgrey;
text-align: left;
padding: 1rem;
}
.actionButtonsContainer{
    align-self: flex-end;
    margin-top:2rem;
}
.actionBtn{
    margin: 1rem !important;
}
.filterSelectionsActive {
    background-color: #3f51b5;
}
