.badge {
    position: relative;
  }
  .badgeContainer {
    position: absolute;
    bottom: -10px;
    right: 0px;
    right: 0;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.08);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  .img{
    height: 10rem;
    
}
.container{
    position: relative;
    width: fit-content;
    margin: auto;
    background-color: white;
    width:20rem;
    border-radius: 0.5rem;
    width:100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.5rem;
}
.gridItem{
max-width: fit-content !important;
}
.contentContainer{
display: flex;
flex-direction: column;
margin-left: 2rem;
margin-right: 2rem;
}
